header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}
header > h1 {
    color: blueviolet;
    font-size: 35px;
}

header > h1:hover{
    font-size: 20px;
}

.navigation{
    display: flex;
    align-items: center;
    gap: 20px;
}
.navigation > a{
    text-decoration: none;
    color: black;
    
}